* {
  font-family: Verdana;
}

.form input {
  border: 1px solid #9e9e9e;
  color: #000000;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 11px;
  font-family: Verdana;
  background: #fff;
  letter-spacing: 1px;
  background-color: transparent;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #c6aada;
  background-color: #b1d5e5;
}
.form .check {
  /* accent-color: #fff;
  margin-right: 5px;
  width: 30px;
  height: 15px;
  box-shadow: 0 0 0 2px #2b60d2; */
  
}
/* .form .input:focus {
  
}  */
.textArea {
  border: 1px solid #9e9e9e;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 50px;
  width: 260px;
  font-family: Verdana;
  font-size: 11px;
  background-color: #f0f0f0;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0;
  border-radius: 5px;

  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}
.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}
.textArea:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
  background-color: #b1d5e5;
  border-radius: 10px;
}
.container textarea::placeholder {
  color: transparent;
}
.btn {
  margin: 8px 0 5px 0;
}
.btnOne {
  background-color: #000000;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 30px;
  padding: 0 25px;
  transition: all 200ms;
  font: Arial 16px;
  font-family: Verdana;
}
.btnOne:hover {
  box-shadow: 0 0 0 2px #c6aada;
  background-color: #b1d5e5;
  transform: scale(1.05);
  font-family: Verdana;
}
