.nav * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.nav {
  grid-area: n;
  background-color:#ecf0f1;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:  rgb(255,250,250);
  border: 1px solid rgb( 245,245,245);
  border-radius: 10px;
 
  }
  .item:hover {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 18px;
    padding: 7px 20px 7px 20px;
    margin: 0 0 5px 5px;
    color: #6a6a6a;
    font-weight: 550;
  }
.item {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 18px;
  padding: 7px 20px 7px 20px;
  margin: 0 0 5px 5px;
  font-weight: 50;
}
  .item a{
    color:rgb(40, 40, 40);
    text-decoration: none;
    /* font-weight: 550; */
   
  } 
  .item a.activeLink {
    color:   #0A66C2;
  } 
  .icons {
    margin-right: 10px;
  }
 .friend {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin: 10px;
  padding: 20px 20px 20px 20px;
  background-color:  rgb(255,255,255);
  border: 1px solid rgb( 245,245,245);
  border-radius: 10px;
 }
 .onlineTitle {
  font-weight: 550;
 }