.description {
   padding: 10px;
}
.description img {
   width: 150px;
}
.contact {
   padding-left: 10px;
}
.avatar {
   border-radius: 100px;
  
} 
.iconWrapper {
   background-color: rgb(255,250,250)
}
.profileImgContainer {
   position: relative;
   height: 220px;
   background-color:  rgb(255,250,250);
   border: 1px solid rgb( 245,245,245);
   border-radius: 10px;
   margin-bottom: 20px;
 }
 .profileImgContainer:hover .overlay {
   display: block;
   background: rgba(0, 0, 0, .3);
 }
 .profileImgContainer img {
   position: absolute;
   width: 200px;
   height: 200px;
   left: 0;
 }
 .profileImgContainer .btn {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
 }
 
 .profileImgContainer:hover .btn  {

   opacity: 0.8;

   /* border: 1px solid #ccc;
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer; */


  /* position: relative;
  top: 150px;
  font-family: calibri;
  width: 132px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer; */


 }
 .btn::-webkit-file-upload-button {
   color: white;
   display:inline-block;
   background: #1CB6E0;
   border: none;
   padding: 7px 15px;
   font-weight: 700;
   border-radius: 3px;
   white-space: nowrap;
   cursor: pointer;
   font-size: 10pt;
   border-radius: 10px;
 }
 .button {
  background-color: #000000;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 30px;
  padding: 0 25px;
  transition: all 200ms;
  font: Arial 16px;
  font-family: Verdana;
  margin: 0 0 15px 0;
 }
 .button:hover {
 background-color: #0A66C2;
 }
 .profileData {
   display: flex;
   /* height: 100vh; */
   flex-direction: column;
   justify-content: flex-start;
   background-color:  rgb(255,250,250);
   border: 1px solid rgb( 245,245,245);
   border-radius: 10px;
   font-family: Verdana;
  
 }
 
.profileData * {
   margin: 2px 0 2px 10px ;
}
.btnDiv {
   margin: 5px 0 5px 5px;
}
.fullName {
   font-weight: 600;
   color:rgba(20,15,11);
}
.contacts {
   margin: 20px 0 20px 20px;
}